* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(67, 66, 66);
    width: 100%;
    position: fixed;
    top:0%;
    left:0%;
    display: flex;
    flex-direction: row;
    gap:24px;
    justify-content: center;
    align-items: center;
    padding:12px;
    
   
}

.baseA{
    font-family: "Playfair Display",sans-serif;
    color:white;
    font-size: 18px;
    text-decoration: none;

}

footer{
   background-color: rgb(67, 66, 66);
    width: 100%;
    position: fixed;
    bottom:0%;
    left:0%;
    display: flex;
    flex-direction: row;
    gap:24px;
    justify-content: center;
    align-items: center;
    padding: 12px;

}

.footerP{
    font-family: "Playfair Display",sans-serif;
    color:white;
    font-size: 18px;
    text-decoration: none;
    padding-right: 600px;
   
    
    padding-left: 625px;
    
}

main{
    margin-top: 64px;
}