.mainImg{
    width: 300px;
    height: 300px;
    border-radius: 24px;
    margin-left: 97px;
}
.hello{
    width:500px;
    height: 500px;
    position: fixed;
    top:10%;
    left:35%;
}

.mainH3{
    font-family: "Playfair Display",sans-serif;
    color:black;
    font-size: 24px;
    text-decoration: double;
    text-align: center;
    font-weight: 900;
}

.mainP{
    font-family: "Playfair Display",sans-serif;
    color:black;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    line-height: 1.5;

}