{%extends 'base.html'%}

{% block title %} About us {% endblock %}

{%block linkCss %}
<link rel="stylesheet" href="{{url_for('static',filename='css/styleAbout.css')}}">{% endblock %}

{%block content%}
<div class="about">
    <h1 class="aboutH1">О компании</h1>
    <div class="aboutUS">
        <p class="smallAb">Eternum — это не просто название, это наша философия. Мы создаем не сиюминутные IT-решения, а
            внедряем
            и развиваем технологии, которые остаются актуальными на годы вперед. Наша экспертиза — в разработке
            устойчивых
            цифровых продуктов, которые масштабируются вместе с вашим бизнесом и становятся вашим долгосрочным
            конкурентным
            преимуществом. Мы строим не просто код, а фундамент для вашего будущего.</p>
        <p class="smallAb">Миссия : Создавать долговечные и надежные технологические решения, которые решают сложные
            бизнес-задачи
            наших клиентов сегодня и остаются эффективными в будущем.</p>
        <p class="smallAb">Видение : Стать ведущим партнером в создании «вечных» цифровых экосистем, где технологии
            служат
            бесконечному
            развитию и инновациям.</p>
        <p class="smallAb">Eternum (с лат. «вечный», «бесконечный») отражает нашу главную цель : создавать не временные
            fixes, а
            фундаментальные, масштабируемые и устойчивые IT-решения, которые работают на перспективу и становятся
            неотъемлемой
            частью успеха наших клиентов.</p>

    </div>





</div>






{%endblock%}